{% extends 'base.html' %}

{% block content %}
    <div style="width: 80%; margin: auto">
        <div style="display: flex; border-bottom: solid 2px lightgray; margin-top: 50px; padding-bottom: 20px">
            <div style="width: 30%; display: flex; justify-content: center;">
                <img width="200px" height="200px" src="{{ user_obj.profile.avatar.url }}">
            </div>
            <div style="width: 70%">
                <div style="display: flex; justify-content: flex-start">
                    <h3 style="margin-right: 50px;">{{ user_obj.username }}</h3>

                    {% if request.user != user_obj %}
                        <form action="{% url 'accounts:profile' user_obj.pk %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="{{ user_following_form.user_id.name }}"  value="{{ request.user.id }}">
                            <input type="hidden" name="{{ user_following_form.following_user_id.name }}" value="{{ user_obj.id }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Подписаться</button>
                    </form>
                    {% else %}
                        <a class="btn btn-outline-secondary" href="#">Редактировать</a>
                    {% endif %}
                </div>
                <div style="display: flex; justify-content: space-between; margin: 10px">
                    <a href="#">публикации</a>
                    <a href="#">подписчиков</a>
                    <a href="#">подписки</a>
                </div>
                <div style="justify-content: flex-start">
                    <p>{{ user_obj.first_name }}</p>
                    <p>{{ user_obj.about }}</p>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px">
            {% include 'partial/instagram/post_list.html' with posts=user_obj.posts.all %}
        </div>
    </div>
{% endblock %}