{% extends 'base.html' %}

{% block content %}
    <div class="row profile-block">
        <div class="col-3">
            <div class="image" style="height: 125px; border-radius:100%">
                <img src="{{ user_obj.profile.avatar.url }}" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-8">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <h3 style="margin-right: 50px;">{{ user_obj.username }}</h3>

                {% if request.user != user_obj %}
                    {% if user_obj not in request.user.followings.all %}
                        <form action="{% url 'accounts:profile' user_obj.pk %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="{{ user_following_form.user_id.name }}"
                                   value="{{ request.user.id }}">
                            <input type="hidden" name="{{ user_following_form.following_user_id.name }}"
                                   value="{{ user_obj.id }}">
                        <button type="submit" class="btn btn-outline-dark" style="line-height: 13px;">Follow</button>
                    </form>
                        {% else %}
                        <form action="{% url 'accounts:user_unfollow' user_obj.pk %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="{{ user_following_form.user_id.name }}"
                                   value="{{ request.user.id }}">
                            <input type="hidden" name="{{ user_following_form.following_user_id.name }}"
                                   value="{{ user_obj.id }}">
                        <button type="submit" class="btn btn-outline-dark" style="line-height: 13px;">Unfollow</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
            <div style="display: flex; justify-content: space-between">
                <a href="#">{{ user_obj.profile.posts_total }} posts</a>
                <a href="#">{{ user_obj.profile.followers_total }} followers</a>
                <a href="#">{{ user_obj.profile.followings_total }} followings</a>
            </div>
            <div style="justify-content: flex-start">
                <p>{{ user_obj.first_name }}</p>
                <p>{{ user_obj.about }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'partial/instagram/post/post_list.html' with posts=user_obj.posts.all %}
    </div>
{% endblock %}