{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="image">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <button class="btn" type="submit" value="" form="form-{{ post.pk }}" style="padding: 0"><i
                            class="fa-solid fa-heart fa-xl"></i></button>
                    <a href="{% url 'instagram:post_detail' post.pk %}"><i class="fa-regular fa-comment fa-xl"></i></a>
                    <form method="POST" action="{% url 'instagram:like_add' post.pk %}" id="form-{{ post.pk }}">
                        {% csrf_token %}
                    </form>
                    <p class="card-text"><span
                            class="username-text">{{ post.likes_total }} users like post</span></p>
                    <p class="card-text"><span
                            class="username-text">{{ post.user.username }}</span> {{ post.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{% for comment in post.comments|slice:':2'|dictsort:'text' %}
                        {{ comment }}
                        {% empty %}
                         <p class="card-text">No comments</p>
                    {% endfor %}</small>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}