{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3" style="margin: 0 -100px 0 -100px">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="image">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-8 d-flex flex-column">
                <div class="card-header d-flex justify-content-between">
                    <p class="card-text"><span
                            class="username-text">{{ post.user.username }}</span> {{ post.description }}</p>
                     <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#deletePostModal"></button>
                </div>
                <div class="card-body">
                    <div class="scrollspy-example">
                        {% if post.comment_total %}
                            {% include 'partial/instagram/comment/comment_list.html' with comments=post.comments.all %}
                        {% else %}
                            <small class="text-muted">No comments</small>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-like" type="submit" data-id="{{ post.pk }}" value="" form="form-{{ post.pk }}" style="padding: 0">
                        {% if user in post.liked_users.all %}
                        <i class="fa-solid fa-heart fa-xl"></i>
                            {% else %}
                            <i class="fa-regular fa-heart fa-xl"></i>
                        {% endif %}
                    </button>
                    <form method="POST" action="{% url 'api:likes_api' post.pk %}" id="form-{{ post.pk }}">
                        {% csrf_token %}
                    </form>
                    <p class="card-text"><span
                            class="username-text" id="like-txt-{{ post.pk }}">{{ post.likes_total }} users like post</span></p>
                    <p>Add comment</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'partial/instagram/post/post_delete_modal.html' %}
{% endblock %}