{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div style="display: flex; justify-content: center">
            <div class="card" style="width: 80%; margin: 20px 0 0 20px;">
                <div class="card-header">Имя пользователя</div>
                <img class="card-img-top" style="height: 400px;" src="{{ post.image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.description }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}