{% extends 'accounts/accounts_base.html' %}

{% block content %}
<h1>Sign in</h1>
    <form action="{% url 'accounts:login' %}?next={{ request.get_full_path }}" method="post"
          class="text-center account-form">
        {% csrf_token %}
        {% if has_error %}
            <p class="form-error">Incorrect username or password.</p>
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-dark">Sign in</button>
        <span>You don't have an account?</span>
        <a href="{% url 'accounts:create' %}" style="color: blue">Sign up</a>
    </form>
{% endblock %}